<div class='col-md-12'>
    <legend>{{title}}</legend>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
        <mat-form-field class="full-width">
            <input id="username" matInput matTooltip="Ingresa tu dirección de email" placeholder="Tu email" name="email" [(ngModel)]="user.email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Ingrese un email válido.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                El email es <strong>requerido</strong>.
            </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
            <input id="userpass" matInput  matTooltip="Ingresa tu contraseña" placeholder="Tu contraseña" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
            <mat-error *ngIf="!password.valid && password.touched">
                La contraseña es <strong>requerida</strong>.
            </mat-error>
        </mat-form-field>
        <br />
        <br />
        <button id="btn-login" class="mat-raised-button mdl-button mdl-js-button mdl-button--primary" mat-raised-button color="primary" matTooltip="Presiona aquí para iniciar sesión">Entrar</button>
    </form>
</div>
