<div class="col-md-12">
    <div class="loader" *ngIf="loading == 'show'">
        <img src='assets/img/loader.gif' />
    </div>
    <div class="col-md-12" *ngIf="task">
         <legend>{{page_title}}</legend>
        <div class="alert alert-success" *ngIf="status_task == 'success'">
            Task created correctly.
        </div>
        <div class="alert alert-danger" *ngIf="status_task == 'error'">
            Error creating the task.
        </div>
        <form #taskNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
            <mat-form-field class="full-width">
                <input matInput matTooltip="The name of the task" placeholder="Name of the task" name="name" #name="ngModel" [(ngModel)]="task.name" required autofocus>
                <mat-error *ngIf="!name.valid && name.touched">
                    The name is <strong>required</strong>.
                </mat-error>
            </mat-form-field>
            <br />
            <br />
            <mat-form-field class="full-width">
                <textarea matInput matTextareaAutosize matTooltip="Additional description about the task" placeholder="Additional notes" name="description" #description="ngModel" [(ngModel)]="task.description"></textarea>
            </mat-form-field>
            <!--<br />-->
            <!--<br />-->
            <!--<mat-slide-toggle color="warn" name="priority" #priority="ngModel" [(ngModel)]="task.priority">Tarea Prioritaria</mat-slide-toggle>-->
            <br />
            <br />
            <br />
            <button mat-raised-button color="primary" matTooltip="Click here to save the task" [disabled]="!taskNewForm.form.valid">{{btn_title}}</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="warn" matTooltip="Click here to delete the task" *ngIf='task.id != 0' (click)="deleteTask(task.id)">DELETE</button>
        </form>
    </div>
</div>
